
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@Html.Partial("PartialNavbar")

<body id="home">

@Html.Action("PartialScripts")

@Html.Action("PartialHeader")

@Html.Action("PartialMainFeature")


@Html.Action("PartialBooking")

@Html.Action("PartialDestinations")

@Html.Action("PartialTopDestinations")

@Html.Action("PartialTopDestinations")

@Html.Action("PartialClient")

@Html.Action("PartialFooter")



</body>
</html>
