@model Casgem_CodeFirstProject.DAL.Entities.CompanyContact

@{
    Layout = null;
}

<
<!--
   Author: W3layouts
   Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
@Html.Action("PartialNavbar", "Default")
<body id="home">
@Html.Action("PartialScripts","Default")

@Html.Action("PartialHeader","Default")


<!-- breadcrumbs -->
<section class="w3l-inner-banner-main">
    <div class="about-inner contact">
        <div class="breadcrumbs-sub">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="/Default/Index/" class="editContent">Ana Sayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a>
                    <p></li>
                <li class="active editContent">
                    İletişim
                </li>
            </ul>
        </div>
    </div>

</section>
<!-- breadcrumbs //-->
<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	editContent">
        <div class="container">
            <div class="map-content-9 mb-5 ">
                <form method="post">
                    <div class="twice-two">
                        <input type="text" class="form-control" name="NameSurname" id="w3lName" placeholder="Ad Soyad" required="">
                        <input type="email" class="form-control" name="Mail" id="w3lSender" placeholder="Mail Adresi" required="">
                        <input type="text" class="form-control" name="Subject" id="w3lSubject" placeholder="Konu" required="">
                    </div>
                    <textarea name="Message" class="form-control" id="w3lMessage" placeholder="Mesajınız" required=""></textarea>

                    <div class="text-right">
                        <button type="submit" class="btn btn-contact">Gönder</button>
                    </div>
                </form>
            </div>

            <div class="d-grid contact-view">

                <div class="cont-details">
                    <h3 class="sub-title">Hızlı İletişim</h3>
                    <p class="para mt-3 mb-4">@ViewBag.description.</p>
                    <div class="cont-top">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para">@ViewBag.phoneNumber</p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"><a href="mailto:@ViewBag.email" class="mail">@ViewBag.email</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para">
                               @ViewBag.location
                            </p>
                        </div>
                    </div>
                </div>

                <div class="map-iframe ">
                    <iframe src="@ViewBag.mapLocation" width="100%" height="300" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
                </div>
            </div>

        </div>
    </div>
</section>

@Html.Action("PartialFooter", "Default")


</body>

</html>
