@model Casgem_CodeFirstProject.DAL.Entities.CompanyContact

@{
    ViewBag.Title = "UpdateContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim Bilgileri Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.Id, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Telefon Numarası</label>
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    <label>Mail Adresi</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
    <label>Adres</label>
    @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
    <br />
    <label>Harita Konumu</label>
    @Html.TextBoxFor(x => x.MapLocation, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">İletişim Bilgilerini Güncelle</button>
    <a href="/AdminContact/Index/" class="btn btn-secondary">Değişikliklerden Vazgeç</a>
</form>


