
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
@Html.Action("PartialNavbar", "Default")
<body id="home">

    @Html.Action("PartialScripts", "Default")

    @Html.Action("PartialHeader", "Default")

    <!--theme switcher dark and light mode script//-->
    <!-- breadcrumbs -->
    <section class="w3l-inner-banner-main">
        <div class="about-inner about editContent">
            <div class="container">
                <div class="breadcrumbs-sub">
                    <ul class="breadcrumbs-custom-path">
                        <li class="right-side propClone"><a href="/Default/Index/" class="editContent">Ana Sayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
                        <li class="active editContent">Hakkımızda</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- breadcrumbs //-->

    @Html.Action("PartialFirstBlog")

    @Html.Action("PartialSecondBlog")

    @Html.Action("PartialThirdBlog")

    @Html.Action("PartialGuides")

    @Html.Action("PartialFooter", "Default")


</body>

</html>

